@use postcss-mixins;
@use postcss-simple-vars;
@use postcss-preset-env(stage: 0);

$rlh: 1.618;
$breakpoint: screen and (min-width: 1025px);
$font-family-body: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
$color-body-text: hsl(0, 0%, 20%);
$color-new-fcc-toggler-btn-bg: hsl(227, 12%, 30%);

/* Set default box-sizing */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

html {
  background-color: white;
  font-size: 16px;
}

body {
  /* color: $color-body-text; */
  /* font-family: $font-family-body; */
  font-size: 1em;
  font-weight: 400;
  line-height: $rlh;
}

a.project-tile {

}

.card {
  transition: transform .2s;

  &:hover {
    transform: scale(1.05);
  }
}

.social-links {
  
}

.icon-social {
  font-size: 4em;
}

p.icon-samples {
  text-align: center;
  font-size: 3em;
}

button#custom_fcc_foldout_toggler {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  display: none;
  
  &.is-open {
    color: hsl(120, 100%, 50%);
  }

  @media $breakpoint {
    display: inline-block;
  }
}