@use postcss-mixins;
@use postcss-simple-vars;
@use postcss-preset-env(stage: 0);

$rlh: 1.618;
$breakpoint: screen and (min-width: 1025px);

/* Set default box-sizing */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

html {
  background-color: white;
  font-size: 16px;
}

body {
  position: relative;
  font-size: 1em;
  font-weight: 400;
  line-height: $rlh;
}

section {
  scroll-margin-top: 72px;
}

.card {
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.social-links a {
  & .icon-social {
    font-size: 5em;
    border-radius: 50%;
    padding: 0.1rem;
    background: hsl(0, 0%, 100%);
    transition: transform 0.15s ease-in-out;
  }
  &:hover .icon-social {
    background: hsl(0, 0%, 80%);
    transform: scale(1.1);
  }
}

button#custom_fcc_foldout_toggler {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  display: none;
  
  &.is-open {
    color: hsl(120, 100%, 50%);
  }

  @media $breakpoint {
    display: inline-block;
  }
}
